# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

Documentation/Photos/2014-09-23 Scéance 2 - Fabrication du pedalSHIELD/IMG_20140730_173611.jpg

Documentation/Photos/2014-09-23 Scéance 2 - Fabrication du pedalSHIELD/IMG_20140730_173611.jpg

*.jpg

Documentation/Photos/2014-09-23 Scéance 2 - Fabrication du pedalSHIELD/IMG_20140730_173621.jpg

Documentation/Photos/2014-09-23 Scéance 2 - Fabrication du pedalSHIELD/IMG_20140730_173621.jpg

*.jpg

Documentation/Photos/2014-09-23 Scéance 2 - Fabrication du pedalSHIELD/IMG_20140730_173621.jpg
